@import "../styles/Main.scss" ;


.FooterMain {
    // background-color: coral;
    width: 70%;
    margin: 20px auto 0 auto;
    padding: 0 0 20px 0;

    .Links {
        // background-color: lightblue;
        padding: 0 0 20px 0;
        width: max-content;
        margin: 0 auto;

        ul {
            // background-color: lightgreen;
            width: max-content;

            li {
                // background-color: lightskyblue;
                width: max-content;
                display: inline;
                padding: 0 20px;

                // :link , :visited{
                //     color: $primary4;
                // }
            }
        }
    }
}