@import "../styles/Main.scss" ;


.HeaderMain {
    // background-color: lightblue;
    width: 70%;
    margin: 0 auto;
    height: 200px;
    position: relative;

    .logoDiv {
        // background-color: pink;
        height: 150px;
        width: 150px;
        margin: 10px auto 0 auto;

        img {
            // background-color: purple;
            height: 100%;
            width: 100%;
            object-fit: contain;
            cursor: pointer;
        }
    }
    
    .Links {
        // background-color: blue;
        width: 100%;
        bottom: 10px;
        position: absolute;
        margin: 0 auto;

        ul {
            // background-color: green;
            width: fit-content;
            display: flex;
            justify-content: space-around;
            margin: 0 auto;

            @include Res700 {
                justify-content: space-around;
            }

            @include Res500 {
                width: 100%;
                justify-content: space-between;
            }

            li {
                // background-color: red;
                width: fit-content;
                padding: 0 40px;

                @include Res500 {padding: 0px;}

                a {
                    font-size: 16px;
                    @include Res700 {
                        font-size: 14px;
                    }
                    @include Res500 {
                        font-size: 14px;
                    }
                }
            }

            .linkHome {
                :hover {
                    color: $primary2;
                }
            }
            .linkPortfolio {
                :hover {
                    color: $secondary3;
                }
            }
            .linkResume {
                :hover {
                    color: $tertiary2;
                }
            }
        }
    }
}