@import "../styles/Main.scss" ;

.main {

    .Content {
        // background-color: green;
        width: 70%;

        .SubHeader {
            // background-color: blue;
            .HeadshotDiv {
                // background-color: blue;
                // width: 100%;
                margin: 0 auto;
                // margin-bottom: 80px;
                text-align: center;

                img {
                    width: 50%;
                    border: 1px rgba($primary3, 0.7) solid;
                    border-radius: 10px;
                    opacity: 1;
                    box-shadow: 0px 5px 15px -7px $primary4;

                    @include Res900 {width: 60%;}
                    @include Res700 {width: 70%;}
                    @include Res500 {width: 100%;}
                }
            }
        }

        .AllParagraphs{
            // background-color: salmon;
            p {
                // background-color: seagreen;
                margin-bottom: 15px;
            }
        }
    }
}