@import "../styles/Main.scss" ;

.main {

    .Content {
        // background-color: green;
        width: 70%;

        .SubHeader {
            // background-color: violet;
            .HeadshotDiv {
                background-color: rgba($primary5, 1);
                width: 50%;
                margin: 0 auto;
                // margin-bottom: 80px;
                text-align: center;
                padding: 5px;
                border: 1px rgba($primary3, 0.7) solid;
                border-radius: 10px;
                opacity: 1;
                box-shadow: 0px 5px 20px -7px $primary4;

                @include Res900 {width: 60%;}
                @include Res700 {width: 80%;}
                @include Res500 {width: 100%;}

                display: flex;
                flex-wrap: wrap;
                // background-color: violet;

                img {
                    // border: 1px rgba($primary3, 0.7) solid;
                    border-radius: 10px;
                    // opacity: 1;
                    // box-shadow: 0px 5px 15px -7px $primary4;
                }

                h4 {
                    margin: 10px auto 0 auto;
                    cursor: pointer;
                    width: fit-content;
                    :hover {
                        color: $primary1;
                    }
                }
            }
        }

        .AllParagraphs{
            // background-color: salmon;
            p {
                // background-color: seagreen;
                margin-bottom: 15px;
                color: $primary5;
            }
        }
    }
}