@import "../styles/Variables.scss" ;

.main {
    
    .content {
        // background-color: green;
        margin: 10px auto 0 auto;
        width: 70%;
        h2 {
            font-size: 40px;
            margin: 10px 0 10px 0;
        }
        p {
            font-size: 14px;
        }
        
    }


}