@import '../styles/Main.scss' ;


.body {
  --background: linear-gradient(white, $altprimary1);
  height: 100vh;
  background-image: linear-gradient(white, $altprimary1);
  // background-repeat: no-repeat;

  .header {
    margin: 20px auto 0 auto;
    // background-color: aquamarine;
    width: fit-content;

    .directions { /* technique from https://www.youtube.com/watch?v=w1nhwUGsG6M */
      h2 {
        font-family: $title-font2;
        font-size: 20px;
        position: relative;

      }
      h2::before , h2::after {
        content: '';
        position: absolute;
        // background-color: red;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      h2::before {
        background-color: white;
        animation: typewriter 2s ease forwards;
        animation-delay: 3s;
      }

      @keyframes typewriter {
        to {
          left: 100%;
        }
      }

    }
  }

  .main {
    // background-color: gold;

    .title_container {
      // background-color: gold;
      margin: 0 auto;
      padding: 20px 0 50px 0 ;
      height: 50px;
      // margin-top: 100px;
      width: fit-content;

      h1{
        font-size: 50px;
        // font-family: $title-font2;
        text-align: center;
        // background-color: green;
        animation-duration: 2s;
        animation-name: fadein;
      }

      @keyframes fadein {
        0%    { opacity: 0; }
        50%   { opacity: 0; }
        100%  { opacity: 100; }
      }

    }

    .dot_container {
      // background-color: black;
      margin: 0 auto;
      padding-top: 0%;
      display: flex;
      flex-direction: column;
    
      .dot0_container {
        // background-color: grey;
        margin: 0 auto;
        #dot0 {
          height: 300px;
          width: 300px;
          border-radius: 50%;
          display: inline-block;
          // background-color: none;
          border: 15px black solid;
          
        }
      }
    
      .dot {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
      }
    
        .dot1_container {
          // background-color: darkblue;
          margin: 0 auto;
          #dot1 {
            background-color: $primary3;
            margin: 0 auto;
          }
        }
    
        .dot2_container {
          // background-color: darkgreen;
          margin: 0 auto;
          #dot2 {
            background-color: $secondary3;
            margin: 0 auto;
          }
        }
    
    
        .dot3_container {
          // background-color: darkred;
          margin: 0 auto;
          #dot3 {
            background-color: $tertiary3;
            margin: 0 auto;
          }
        }
    
    }

    .name_container {
      // background-color: lightcoral;
      width:fit-content;
      margin: 0 auto;

      .name_text {

        
        
        h1 {
          font-size: 60px;
          font-family: $script-font2;
          // background-color: blue;
          // animation-delay: 3s;
          // animation-duration: 4s;
          // animation-name: fadein;

        }

        .fadeEffect {

        }


      }

    }

  }

}

