@import "../styles/Main.scss" ;

.main {

    h2 {
        color: $secondary4;
    }

    h3 {
        color: $secondary2;
    }

    .SubHeader {
        // background-color: blue;
    }

    .Content {
        // background-color: blue;

        .projectsAll {
            // background-color: rgba($secondary5, 0.3);
            // margin: 20px auto 0 auto;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 0 0 0;
            
            
            
            .projectEach {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                width: 50%;
                max-width: 300px;
                // margin: 0 auto;
                margin-bottom: 30px;
                justify-content: space-around;
                background-color: rgba($secondary5, 0.5);
                border: 1px solid rgba($secondary5, 0.1);
                contain: content;
                border-radius: 8px;
                box-shadow: 6px 6px 20px -10px $secondary2;
                
    
                img {
                    width: 100%;
                    border: 1px (rgba($secondary5, 0.2)) solid;
                    opacity: 1;
                    box-shadow: 0px 5px 15px -7px rgba($secondary5, 0.5);
                    margin: 5px;
                    // position: relative;
                    // bottom: 5px;
                    margin-bottom: 30px;
                }
    
                .buttons {
                    // background-color: blue;
                    position: absolute;
                    width: 100%;
                    display: flex;
                    // flex-wrap: wrap;
                    justify-content: space-around;
                    margin-bottom: 5px;
                    bottom: 0px;

                    // .gitButton {
                    //     @include Button;
                    // }
                    // .liveButton {
                    //     @include Button;
                    // }
    
                }
            }
            
        }

    }


}