@import '../styles/Main.scss';

.main {

    h2 {
        color: $tertiary3;
    }

    .Content {
        // background-color: blue;
        width: 70%;

        @include Res500 {width: 80%;}
        @include iphone12Pro {width: 85%;}

        @include Res500 {h1 {margin-bottom: 0;}}

        .downloadDiv {
            // background-color: green;
            display: flex;
            justify-content: space-between;

            @include Res500 {
                h2 {font-size: 22px;}
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            .ResumeButton {
                @include Button($FontSize:18px);
                @include Res900{font-size: 16px};
                @include Res700{font-size: 13px};
                @include Res500{font-size: 14px};
            }
        }

        .Resume {
            background-color: rgba($tertiary5, 0.2);
            padding: 2px;
            border: 1px rgba(145, 13, 101, 0.281) solid;
            opacity: 1;
            box-shadow: 0px 5px 15px -7px $tertiary4;
        }
    }
}