@import "../styles/Variables.scss" ;

.main {
    
    .content {
        // background-color: green;
        margin: 10px auto 0 auto;
        width: 70%;
        h1 {
            @include Title;
            font-size: 10;
        }
        h2 {
            font-size: 30px;
            // text-align: center;
            margin: 10px 0 10px 0;
            color: $tertiary3;
        }
        h3 {
            font-size: 23px;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
        }
        .subheader {
            // background-color: blue;
            width: 100%;
            margin-bottom: 10px;
            .downloadDiv{
                // background-color: green;
                display: flex;
                .downloadButton{
                    background-color: $tertiary4;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 18px;
                    border-radius: 7px;

                    margin-left: auto;
                    transition-duration: 0.2s;
                }
                .downloadButton:hover {
                    background-color: $tertiary2;
                    color: $tertiary4;
                }
                .downloadButton:active {
                    transform: scale(0.97);
                    color: $tertiary1;
                }
            }
        }

        .resume {
            // background-color: blue;
            img {
                width: 100%;
                border: 1px rgba(145, 13, 101, 0.281) solid;
                opacity: 1;
                box-shadow: 0px 5px 15px -7px $tertiary4;
                
            }
        }
        
    }


}