@import './Variables.scss' ;

@import './Type.scss' ;

@import './Partials.scss';

// @import '../components/Header.module.scss';


.HeaderMain , .FooterMain {
    // background-color: blue;

    hr {
        margin-top: 48px;
        opacity: 0.6;
        width: 70%;
        height: 1px;
        background-color: $altprimary2;
    }

    li {
        :hover {
            color: $altprimary2;
        }
    }

}

.main {

    .Content {
        // background-color: green;
        margin: 10px auto 0px auto;
        width: 70%;

        .SubHeader {
            // background-color: blue;
            width: 100%;
            margin-bottom: 25px;
        }
    }

}