@import './Variables.scss' ;

@import './Type.scss' ;

@import './Media.scss';

.HeaderMain , .FooterMain {
    // background-color: blue;
    hr {
        margin-top: 48px;
        opacity: 0.6;
        height: 1px;
        background-color: $altprimary2;
    }

    li {
        :link , :visited {
            color: $altprimary4;
        }

        :hover {
            color: $tertiary4;
        }
    }
}

.main {

    @include Infinite {
        h1 {font-size: 40px;}
    }

    @include Res900 {
        h1 {font-size: 35px;}
        h2 {font-size: 25px;}
        h3 {font-size: 20px;}
    }

    @include Res700 {
        h2 {font-size: 20px;}
        h3 {font-size: 18px;}
    }

    @include Res500 {
        h1 {font-size: 30px;}
        h2 {font-size: 18px;}
        h3 {font-size: 14px;}
    }

    .Content {
        // background-color: green;
        margin: 10px auto 0px auto;
        width: 70%;
        @include Res500 {width: 80%;}
        @include iphone12Pro {width: 85%;}

        .SubHeader {
            // background-color: blue;
            width: 100%;
            margin-bottom: 25px;
        }
    }
}