@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Cinzel&family=Cormorant+Infant:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Gruppo&family=Italianno&family=Monsieur+La+Doulaise&family=Orbitron&family=Tangerine:wght@400;700&display=swap');

/* 
font-family: 'Ballet', cursive;
font-family: 'Cinzel', serif;
font-family: 'Gruppo', cursive;
font-family: 'Italianno', cursive;
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Cormorant Infant', serif;
*/

$script-font1: 'Ballet', cursive;
$script-font2: 'Monsieur La Doulaise', cursive;
$script-font3: 'Italianno', cursive;

$title-font1: 'Cinzel', serif;
$title-font2: 'Gruppo', cursive;

$body-font: 'Cormorant Infant', serif;


// html {
//   font-family: $contentFont;
//   font-size: 1rem;
//   line-height: 1.25rem;
// }

// .text-center {
//   text-align: center;
// }

// .text-bold {
//   font-weight: bold;
// }

// .text-thin {
//   font-weight: lighter;
// }

// h1 {
//   font-size: 6rem;
//   font-weight: 700;
// }

// h2 {
//   font-size: 3.75rem;
//   font-weight: 700;
// }

// h3 {
//   font-size: 3rem;
//   font-weight: 700;
// }

// h4 {
//   font-size: 2.125rem;
//   font-weight: 500;
// }

// h5 {
//   font-size: 1.5rem;
//   font-weight: 500;
// }

// h6 {
//   font-size: 1.25rem;
//   font-weight: 500;
// }