@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Cinzel&family=Cormorant+Infant:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Gruppo&family=Italianno&family=Monsieur+La+Doulaise&family=Orbitron&family=Tangerine:wght@400;700&display=swap');

/* 
font-family: 'Ballet', cursive;
font-family: 'Cinzel', serif;
font-family: 'Gruppo', cursive;
font-family: 'Italianno', cursive;
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Cormorant Infant', serif;
*/

$script-font1: 'Ballet', cursive;
$script-font2: 'Monsieur La Doulaise', cursive;
$script-font3: 'Italianno', cursive;

$title-font1: 'Cinzel', serif;
$title-font2: 'Gruppo', cursive;

$body-font: 'Cormorant Infant', serif;

.main {
    h1 {
        background-color: $primary3;
        background-image: linear-gradient(0deg, $altprimary3, $tertiary3);
        background-clip: text;
        /* background-size: 100%; */
        /* background-repeat: repeat; */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 40px;
        
        font-size: 45px;

    }
    h2 {
        font-size: 30px;
        // text-align: center;
        margin: 10px 0 10px 0;
        color: $primary3;
    }
    h3 {
        font-size: 23px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
    }
}