
/*#region Variables*/

/*#region Old Colors*/
// $orange: #ee7c19;
// $green: #4b771e;
// $blue: #0000ff;
// $darkblue: #100f50 ;
// $darkerblue: #0a0931;
/*#endregion Old Colors*/

// 10 pallet gradient //
$pallet1: #006466;
$pallet2: #065A60;
$pallet3: #0B525B;
$pallet4: #144552;
$pallet5: #1B3A4B;
$pallet6: #212F45;
$pallet7: #272640;
$pallet8: #312244;
$pallet9: #3E1F47;
$pallet10: #4D194D;

// triadic with extra//
$inchworm: #92e017;
$curiousblue: #1084ce;
$redviolet: #ce1084;
$persianblue: #0c33d6;

// Color Theme //
$primary1: #d1e9f9;
$primary2: #74beec;
$primary3: #1084ce;
$primary4: #0e5886;
$primary5: #051d2d;

$secondary1: #e9f9d1;
$secondary2: #beec74;
$secondary3: #92e017;
$secondary4: #58860e;
$secondary5: #1d2d05;

$tertiary1: #f9d1e9;
$tertiary2: #ec74be;
$tertiary3: #ce1084;
$tertiary4: #860e58;
$tertiary5: #2d051d;

$altprimary1: #ced6f7;
$altprimary2: #6d85e6;
$altprimary3: #0c33d6;
$altprimary4: #071f80;
$altprimary5: #020a2b;

/*#endregion Variables*/